<ul class="nav navbar-nav">
    {{ render(controller('TicmeFrontBundle:Category:categorieMenu')) }}
    <li>
        <a href="#">About</a>
    </li>
    <li>
        <a href="#">Services</a>
    </li>
    <li>
        <a href="#">Contact</a>
    </li>
</ul>