{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}

<div class="container">
    <h1>Confirmation</h1>
    <hr>
    <div class="row">
        <div class="col-lg-12">
            <div class="alert alert-success" role="alert">{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</div>
            {% if targetUrl %}
                <div class="btn-group"><a href="{{ targetUrl }}" class="btn btn-success">{{ 'registration.back'|trans }}</a></div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock fos_user_content %}
