<div class="list-group">
    {% for categorie in categories %}
            <a href="{{ path('ticme_front_products_by_category', {'id': categorie.id}) }}" class="list-group-item">{{ categorie.title }}</a>
    {% endfor %}
</div>